<h1>Studios</h1>

<% @studios.each do |studio| %>
  <div id="studio-<%= studio.id %>">
    <%= studio.name %> in <%= studio.location %><br>
    Movies: <% studio.movies.each do |movie| %>
      <%= movie.title %><br>
    <% end %>
  </div>
<% end %><br>
